.navbar{
    width: 100%;
    height: 10.6rem;
    position: absolute;
    z-index: 1000;
}

.navbar-wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham-lines span{
    width: 2.6rem;
    height: .4rem;
    display: block;
    background: var(--primary);
    margin: .4rem auto;
    border-radius: 2rem;
    transition: transform .5s;
}

.logo{
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.2rem;
}

.ham-lines.active .ham-line:nth-child(1){
    transform: translateY(.8rem) rotate(45deg);
    
}

.ham-lines.active .ham-line:nth-child(2){
    transform: scale(0);
}

.ham-lines.active .ham-line:nth-child(3){
    transform: translateY(-.8rem) rotate(-45deg);
}

.nav-items{
    width: 100%;
    background-color: var(--background);
    margin-top: 5rem;
    padding: 10rem;
    position: absolute;
    top: 80%;
    left: -100%;
    transform: translate(-50%, 0%);   
    transition: all .5s; 
}

.nav-items li{
    font-size: 2.5rem;
    border-bottom: 1px solid var(--primary);
    text-align: center;
}

.nav-items li a{
    display: block;
    padding: 3rem;
}

.nav-items .nav-item1{
    border-top: 1px solid var(--primary);
}

.nav-items.active{
    left: 50%;
}

/* ------------------------------ Showcase ------------------------------ */

.scMain{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(231, 246, 242, 0.7), rgba(231, 246, 242, 0.7)), url(./img/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.scTextWrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scHead{
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-size: 7rem;
    color: var(--primary);
    letter-spacing: -.3rem;
}

.scText{
    color: var(--primary);
    font-size: 2.3rem;
}