@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Source+Serif+4:wght@400;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
    font-family: 'Times New Roman', Times, serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary);
}

/* ------------------------------ Colors ------------------------------ */

:root{
    --background: #E7F6F2;
    --primary: #2C3333;
    --secondary: #395B64;
    --tertiary: #A5C9CA;
}

/* ------------------------------ Container ------------------------------ */

.nav-container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

/* ------------------------------ Navbar ------------------------------ */

.navbar {
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.logo {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.2rem;
}

.nav-items{
    display: flex;
    height: 11rem;
    align-items: center;
}

.navItem{
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.navWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items li{
    font-family: 'Source Serif 4', serif;
    margin-right: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ------------------------------ Footer ------------------------------ */

.footer{
    height: auto;
    background-color: var(--primary);
}

.footWrap{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.backtotop img{
    width: 6rem;
}

.footHead{
    color: var(--tertiary);
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.footList li button{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 4rem;
    color: var(--background);
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.footList{
    display: flex;  
}

.footEnd{
    font-size: 2rem;
    color: var(--background);
    text-align: center;
    padding: 2.2rem 0;
}


/* ------------------------------ Media queries ------------------------------ */

@media (max-width: 900px) {
    html{
        font-size: 50%;
    }

    .logo{
        font-size: 4rem;
        margin-top: 3rem;
    }

    .nav-items li:nth-child(4){
        margin-right: 0;
    }

    .navWrap{
        flex-direction: column-reverse;
        width: 100%;
    }

    .footWrap{
        display: block;
    }

    .footList li button{
        margin-right: 3.8rem;
    }

    .footList li:nth-child(4) button{
        margin-right: 0;
    }

    .footLeft{
        margin-bottom: 3rem;
    }
}