@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Source+Serif+4:wght@400;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--background);
    font-family: 'Times New Roman', Times, serif;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary);
}

/* ------------------------------ Colors ------------------------------ */

:root{
    --background: #E7F6F2;
    --primary: #2C3333;
    --secondary: #395B64;
    --tertiary: #A5C9CA;
}

/* ------------------------------ Container ------------------------------ */

.nav-container{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.ham-container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/* ------------------------------ Navbar ------------------------------ */

.navbar {
    width: 100%;
    height: 10.6rem;
    position: absolute;
    z-index: 1000;
}

.navbar-wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ham-lines span {
    width: 2.6rem;
    height: .4rem;
    display: block;
    background: var(--primary);
    margin: .4rem auto;
    border-radius: 2rem;
    transition: transform .5s;
}

.logo {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.2rem;
}

.ham-lines.active .ham-line:nth-child(1) {
    transform: translateY(.8rem) rotate(45deg);

}

.ham-lines.active .ham-line:nth-child(2) {
    transform: scale(0);
}

.ham-lines.active .ham-line:nth-child(3) {
    transform: translateY(-.8rem) rotate(-45deg);
}

.nav-items {
    width: 100%;
    background-color: var(--background);
    margin-top: 5rem;
    padding: 8rem 10rem;
    position: absolute;
    top: 80%;
    left: -100%;
    transform: translate(-50%, 0%);
    transition: all .5s;
}

.nav-items li {
    font-size: 2.5rem;
    border-bottom: 1px solid var(--primary);
    text-align: center;
}

.nav-items li a {
    display: block;
    padding: 3rem;
}

.nav-items .nav-item1 {
    border-top: 1px solid var(--primary);
}

.nav-items.active {
    left: 50%;
}

/* ------------------------------ Footer ------------------------------ */

.footer{
    height: 25rem;
    background-color: var(--primary);
}

.footWrap{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.footHead{
    color: var(--tertiary);
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.footList li{
    font-size: 2rem;
    margin-right: 4rem;
    color: var(--background);
}

.footList{
    display: flex;  
}

.backtotop img{
    width: 6rem;
}

.footEnd{
    font-size: 2rem;
    color: var(--background);
    text-align: center;
    margin-top: 2.2rem;
}
